<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <div class="about content">
        <h2>About me</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium, maxime debitis esse odio amet placeat, autem animi, sunt nulla nemo distinctio praesentium at harum illo tempora id ducimus nam! Eveniet.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium, maxime debitis esse odio amet placeat, autem animi, sunt nulla nemo distinctio praesentium at harum illo tempora id ducimus nam! Eveniet.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium, maxime debitis esse odio amet placeat, autem animi, sunt nulla nemo distinctio praesentium at harum illo tempora id ducimus nam! Eveniet.</p>
    </div>
    <%- include('./partials/footer.ejs') %>

</body>
</html>