body{
    /* background-color: aqua; */
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.home-body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 2rem;
    background-color:  rgb(219, 238, 254);
    color: black;
}
.nav{
    /* background: red; */
    width: 100vw;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 3px solid grey;
}
.content{
    /* background: yellow; */
    width: 100vw;
    height: 85vh;
    margin: 0;
}
footer{
    width: 100vw;
    height: 5vh;
    /* background-color: green; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}
.nav ul{
    list-style: none;
    display: flex;
    width: 30vw;
    /* background: aliceblue; */
    height: 100%;
    align-items: flex-end;
}
.nav li{
    margin-left: 3em;
    margin-bottom: 0.5em;
    font-size: 1.6rem;
    border-radius: 10px;

}
.nav li:hover{
    text-decoration: underline; 
}
.site-title{
    display: flex;
    flex-direction: column;
}
.site-title a{
    font-size: 3rem;
    margin: 0;
    padding: 0;
}
.site-title p{
    font-size: 1.3rem;
    margin: 0;
    padding: 0;
}
/* .about{
    background-color: blueviolet;
} */
.create-blog{
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.create-blog form{
    width: 37%;
    height: 90%;
    background-color: rgb(219, 238, 254);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border-radius: 20px;
}
.create-blog input{
    outline: none;
    border: none;
    width: 70%;
    height: 10%;
    margin-top: 1.5em;
    border-radius: 10px;
    padding: 0.5em;
}
.create-blog textarea{
    outline: none;
    border: none;
    width: 70%;
    height: 40%;
    margin-top: 1.5em;
    border-radius: 10px;
}
.create-blog button{
    outline: none;
    border: none;
    width: 70%;
    font-size: 1.3em;
    height: 10%;
    margin-top: 2.5em;
    border-radius: 10px;
    background-color: rgb(179, 215, 247);
}
/* .blogs{
     background: blue; 
} */
::placeholder {
    font-size: 1.3em;
    text-align: center;
}
.create-blog textarea::placeholder{
    line-height: 30vh;
}